{{>header}}
<div id="container">
    {{#if newMap}}
        <h1>Productos de tu carrito</h1>
        <table class=''>
            <thead>
                <tr>
                    <th  colSpan="2">Producto</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoria</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {{#each newMap}}
                <tr >
                    <td class='trCart'>
                        <img class='fotoProductos' src='{{this.thumbnail}}' alt='{{this.title}}'></img>
                    </td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td class="precio">$<span>{{this.price}}</span></td>
                    <td class="cantidad">{{this.quantity}}</td>
                    <td>{{this.category}}</td>
                    <td class="subtotal">$ <span></span></td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th colSpan="6">
                        Total valor del carrito: 
                    </th>
                    <th>
                        $  <span class='total' id='valorCarritoTotal'></span>
                    </th>
                </tr>
            </tfoot>
        </table>
        <button onclick="return buyCart('{{cid}}')">Comprar carrito</button>
        {{else}}
    <h1>Carrito Vacio</h1>
    {{/if}}
</div>
<script>
</script>
