{{>header}}
<div>
    <h1>Cambio de rol</h1>
    <ul>
        <li>Nombre: {{nombre}} </li>
        <li>Apellido: {{apellido}}</li>
        <li>Correo Electronico: {{email}} </li>
        <li>Edad: {{edad}} </li>
        <li>Rol de Usuario: {{rol}} </li>
    </ul>
    <div class="flexCol contentCenter formLogin">
        <button onclick="return buyCart({{cid}})">Comprar carrito</button>
    </div>
</div>