{{>header}}
<div>
    <h1>Perfil</h1>
    <ul>
        <li>Nombre: {{nombre}} </li>
        <li>Apellido: {{apellido}}</li>
        <li>Correo Electronico: {{email}} </li>
        <li>Edad: {{edad}} </li>
        <li>Rol de Usuario: {{rol}} </li>
    </ul>
</div>