{{>header}}
<h2>Lista de Productos disponibles</h2>
<table class=''>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            {{!-- <th colSpan="2">Subtotal</th> --}}
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr class='trCart'>
            {{!-- <td>
            <img class='fotoProductos' src='{{this.thumbnail}}' alt='{{this.title}}'></img>
            </td> --}}
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
        </tr>
        {{/each}}
    </tbody>
    {{!-- <tfoot>
    <tr>
        <th colSpan="6">
        <span className='total' id='valorCarritoTotal'>Total valor del carrito ${valorCarrito.toFixed(2)}</span>
        </th>
    </tr>
    </tfoot> --}}
</table>
